@import url('http://fonts.cdnfonts.com/css/montserrat');

body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.pp_page_block {
    height: 100vh;
    background-color: #EEEEEE;
    position: relative;
    overflow: hidden;
}

.pp_page_center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pp_block {
    display: flex;
    height: 100vh;
    position: absolute;
}

.pp_block_menu {
    justify-content: center;
    width: 100vw;
    color: gray;
}

.pp_block_menu_bottom {
    align-items: end;
}

.pp_block_menu_wrapper {
    display: flex;
    justify-content: space-between;
    width: 85vw;
}

.pp_menu_item_left {
    padding-top: 2em;
    padding-left: 2em;
}

.pp_menu_item_right {
    padding-top: 2em;
    padding-right: 2em;
}

.pp_block_menu_bottom .pp_menu_item_left,
.pp_block_menu_bottom .pp_menu_item_right  {
    padding-top: 0em;
    padding-bottom: 2em;
}

.pp_menu_item_orage {
    color: #F63716;
    letter-spacing: 0.32em;
    font-weight: 700;
    text-transform: uppercase;
}

.pp_menu_item_gray {
    color: #C2C1C1;
    letter-spacing: 0.23em;
    font-weight: 400;
    text-transform: uppercase;
}

.pp_menu_item_right img {
    margin-left: 1.5em;
    height: 1em;
}

.pp_block_center {
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.pp_center_text {
    color: #C2C1C1;
    text-align: center;
    font-size: 9.1em;
    font-weight: 900;
    letter-spacing: 1.12em;
    opacity: 0.2;
    align-self: center;
    width: 85vw;
    overflow: hidden;
}

.pp_center_img {
    width: 17em;
    height: 34.8em;
    background-repeat: no-repeat;
    background-image: url("../img/papaya.png");
    background-size: cover;
    align-self: center;
    margin: 0 auto;
}

.pp_left_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    font-size: 1em;
    color: #F63716;
    letter-spacing: 0.32em;
}

.pp_right_text {
    display: flex;
    flex-direction: column;
    width: 50vw;
    font-weight: 400;
    font-style: normal;
    font-size: 0.75em;
    color: #C2C1C1;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-left: 40em;
    padding-top: 4em;
}

.pp_right_text div {
    margin-bottom: 3em;
}

.pp_partners {
    display: flex;
    justify-content: space-evenly;
}

.pp_polygon {
    width: 6.1em;
    height: 1.3em;
}

.pp_opensea {
    width: 6.4em;
    height: 1.45em;
}

.pp_binance {
    width: 6em;
    height: 1.2em;
}

.pp_pornohub {
    width: 4.8em;
    height: 1.3em;
}

.pp_1inc {
    width: 4.5em;
    height: 1.65em;
}

.pp_partners img {
    margin-left: 4.25em;
}

.pp_slider_block {
    margin-top: 12em;
    overflow: hidden;
    position: relative;
}

.pp_key_slider {
    display: flex;
}

.pp_key_slider img {
    width: 10.95em;
    height: 11.7em;
    margin-left: 1.4em;
}

.pp_text_slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5em;
    width: 100%;
}

.pp_slider_text {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 0.32em;
    margin-left: 2em;
}

.pp_slider_text_red {
    color: #F63716;
}

.pp_slider_text_grey {
    color: #8B8A8A;
}

.pp_partners_page_text {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.06em;
    margin-top: 6em;
}

.pp_time_line_block {
    height: 62em;
}

.pp_ellipse img{
    width: 0.82em;
    height: 0.82em;
}

.pp_line img{
    width: 0.05em;
    height: 11.25em;
}

.pp_ellipse {
    position: absolute;
    top: 0em;
    left:  calc(50% - 0.41em);
}

.pp_line{
    position: absolute;
    top: 0.9em;
    left:  calc(50% - 0.04em);
}

.pp_ellipse2 {
    top: 12em;
}

.pp_line2 {
    top: 12.9em;
}

.pp_ellipse3 {
    top: 24em;
}

.pp_line3 {
    top: 24.9em;
}

.pp_ellipse4 {
    top: 36em;
}

.pp_line4 {
    top: 36.9em;
}

.pp_ellipse5 {
    top: 48em;
}

.pp_line5 {
    top: 48.9em;
}

.pp_ellipse6 {
    top: 60em;
}

.pp_time_line_text {
    position: absolute;
    font-weight: 700;
    font-size: 0.6em;
    letter-spacing: 0.18em;
    color: #8B8A8A;
}

.pp_time_line_text ul {
    margin: 0px;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 1em;
}

.pp_time_line_text1 {
    top: 0.30em;
    left:  calc(50% - 7em);
    color: #F63716;
}

.pp_time_line_text3 {
    top: 20.30em;
    left:  calc(50% + 2em);
}

.pp_time_line_text5 {
    top: 40.30em;
    left:  calc(50% - 7em);
}

.pp_time_line_text7 {
    top: 60.30em;
    left:  calc(50% + 2em);
}

.pp_time_line_text9 {
    top: 80.30em;
    left:  calc(50% - 7em);
}

.pp_time_line_text11 {
    top: 100.30em;
    left:  calc(50% + 2em);
}

.pp_time_line_text2 {
    top: 0.30em;
    left:  calc(50% + 3em);
}

.pp_time_line_text4 {
    top: 20.30em;
    left:  calc(50% - 20em);
}

.pp_time_line_text6 {
    top: 40.30em;
    left:  calc(50% + 3em);
}

.pp_time_line_text8 {
    top: 60.30em;
    left:  calc(50% - 20em);
    width: 15em;
}

.pp_time_line_text10 {
    top: 80.30em;
    left:  calc(50% + 3em);
}

.pp_time_line_text12 {
    top: 100.30em;
    left:  calc(50% - 21em);
    width: 18em;
}

.pp_token_page_wrapper {
    height: 35em;
    width: 70em;
    position: relative;
}

.pp_token_text {
    position: absolute;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #8B8A8A;
}

.pp_token_text1 {
    width: 35em;
    top: 0em;
    left: 30em;
}

.pp_token_text2 {
    top: 4em;
    left: 35em;
}

.pp_token_text3 {
    top: 6.5em;
    left: 25em;
}

.pp_token_text4 {
    width: 30em;
    top: 12em;
    left: 0em;
}

.pp_token_text5 {
    width: 32em;
    top: 16.5em;
    left: 12em;
}

.pp_token_text6 {
    width: 32em;
    top: 22.5em;
    left: 24em;
}

.pp_token_img1 img {
    width: 9.1em;
    height: 1.65em;
}

.pp_token_img2 img {
    width: 2.47em;
    height: 2em;
}

.pp_token_img3 img {
    width: 10.66em;
    height: 8.645em;
}

.pp_token_img1 {
    position: absolute;
    top: 2.5em;
    left: 5em;
}

.pp_token_img2 {
    position: absolute;
    top: 2.5em;
    left: 16em;
}

.pp_token_img3 {
    position: absolute;
    top: 15em;
    left: 43.5em;
}

.pp_dashboard {
    display: flex;
    justify-content: center;
    width: 70em;
}


.pp_dashboard_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15.25em;
    min-height: 15.25em;
    max-width: 15.25em;
    max-height: 15.25em;
    border-radius: 50%;
    background: #EEEEEE;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
}

.pp_dashboard_circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.28em;
    height: 13.28em;
    border-radius: 50%;
    background: #DFDFDF;
}

.pp_dashboard_circle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.28em;
    height: 13.28em;
    border-radius: 50%;
    --value: 75%;
    background: conic-gradient(#F63716 var(--value), transparent 0);
}

.pp_dashboard_circle4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.28em;
    height: 11.28em;
    background: #EEEEEE;
    border-radius: 50%;
}

.pp_dashboard_circle_text {
    width: 8em;
    height: 8em;
}

.pp_dashboard_circle_text_title {
    margin-top: 2em;
    color: #8B8A8A;
    font-size: 0.6em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.pp_dashboard_circle_text_percent {
    color: #F63716;
    letter-spacing: 0.05em;
    font-size: 2.6em;
    font-weight: 700;
    text-align: center;
    margin-top: 0.2em;
}

.pp_dashboard_circle_text_bottom {
    margin-top: 0.2em;
    display: flex;
    justify-content: space-around;
}

.pp_dashboard_circle_text_bottom_img {
    margin-top: -0.1em;
}

.pp_dashboard_circle_text_bottom_img img {
    width: 0.6em;
    height: 0.6em;
}

.pp_dashboard_circle_text_bottom_text {
    font-size: 0.9em;
    letter-spacing: 0.05em;
    align-items: center;
    font-weight: 700;
    color: #F63716;
}

.pp_dashboard_sing {
    color: #C2C1C1;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: right;
    font-weight: 400;
    margin-right: 1em;
    margin-left: 5em;
}

.pp_dashboard_select {
    display: flex;
    flex-wrap: wrap;
    width: 30em;
}

.pp_dashboard_select_item {
    width: 10em;
    margin-right: 10em;
    margin-bottom: 5em;
    cursor: pointer;
}

.pp_dashboard_select_item:hover {
    opacity: 0.8;
}

.pp_dashboard_select_item_nonselect {
    width: 10em;
    margin-right: 10em;
    margin-bottom: 5em;
    opacity: 0.3;
    cursor: no-drop;
}

.pp_dashboard_select_item_nonselect:hover {
    opacity: 0.3;
}


.pp_dashboard_select_item:nth-child(2n) {
    margin-right: 0;
}

.pp_dashboard_select_item_percent,
.pp_dashboard_select_item_value,
.pp_dashboard_select_item_text {
    font-size: 1em;
    color: #F63716;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.pp_dashboard_select_item_text {
    font-weight: 400;
    color: #8B8A8A;
}

.pp_team_wrapper {
    width: 80%;
    margin: 0 auto;
}

.pp_team {
    position: relative;
    width: 80vw;
    height: 80vh;
}

.pp_team_item {
    display: flex;
    width: 14em;
    height: 8em;
    position: absolute;
}

.pp_team_item1 {
    left: 10%;
    top: calc(50% - 4em);
}

.pp_team_item2 {
    left: 35%;
    top: calc(30% - 4em);
}

.pp_team_item3 {
    left: 25%;
    top: calc(70% - 4em);
}

.pp_team_item4 {
    left: 45%;
    top: calc(80% - 4em);
}

.pp_team_item5 {
    left: 50%;
    top: calc(55% - 4em);
}

.pp_team_item6 {
    left: 60%;
    top: calc(20% - 4em);
}

.pp_team_item7 {
    left: 75%;
    top: calc(30% - 4em);
}

.pp_team_item8 {
    left: 80%;
    top: calc(60% - 4em);
}


.pp_team_item_img img {
    width: 6.8em;
    height: 7.9em;
}

.pp_team_item_text {
    padding-top: 1.5em;
}

.pp_team_item_name {
    color: #F63716;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.pp_team_item_job_title {
    color: #8B8A8A;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.pp_footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp_footer div {
    color: #8B8A8A;
    font-weight: 700;
    font-size: 0.6em;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-left: 3em;
}

.pp_footer div:first-child {
    color: #F63716;
    margin-left: 6em;
}


@media (min-width:320px)  { body { font-size: 6px;}  }
@media (min-width:480px)  { body { font-size: 8px;}  }
@media (min-width:600px)  { body { font-size: 10px;}  }
@media (min-width:801px)  { body { font-size: 12px;}  }
@media (min-width:1025px) { body { font-size: 16px;}  }
@media (min-width:1281px) { body { font-size: 20px;}  }